* {
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f3f3f3;
  margin-bottom: 1000px;
}
a {
  text-decoration: none;
}

.header {
  background-color: #f3f3f3;
  top: 0;
  /* position: sticky; */
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-shadow: 10px 4px 10px rgba(189, 178, 178, 0.3);
  padding: 10px;
}

#sticky {
  position: sticky;
}
.my-name,
.welcome-text,
.current-uni,
.contacts h3,
#skills h1,
#projects h1,
.prject-name,
.font-semibold {
  background: linear-gradient(
    to right,
    #19b051,
    #245771
  ); /* Define the gradient */
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text transparent to show the gradient */
  background-clip: text; /* Standard property for background-clip */
  color: transparent; /* Fallback color if background-clip is not supported */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  color: black;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

#About-me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  column-gap: 50px;
  height: 100vh;
  padding: 10px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  text-align: center;
  width: 800px;
}

.welcome-text {
  font-size: 80px;
  margin: 0;
  /* margin-bottom: 10px; */
}

.description {
  font-size: 17px;
}
.personal-photo {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: 400px;
}

.contacts {
  display: grid;
  grid-template-columns: 160px repeat(4, 40px);
  justify-items: center;
  column-gap: 5px;
}

.contacts img {
  width: 40px;
  border-radius: 50%;
}
.contacts h3 {
  margin: auto;
}

#skills {
  border: 5px solid;
  border-image: linear-gradient(to right, #19b051, #245771) 1;
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 100px;
}

#skills h1 {
  text-align: center;
  font-size: 50px;
  margin: 0;
  margin-bottom: 30px;
}
.skill-set {
  display: grid;
  grid-template-columns: repeat(6, 80px);
  justify-content: center;
  place-items: center;
  gap: 30px;
}

.skill-set img {
  width: 50px;
}

.skill-icon {
  display: grid;
  align-items: center;
  justify-content: center;
  /* background-color: gray; */
  box-shadow: 2px 2px 5px 2px #309154; /* X-offset, Y-offset, blur-radius, color */
  border-radius: 10px;

  width: 70px;
  height: 70px;

  transition: transform 0.2s ease;
}

.skill-icon:hover {
  transform: scale(1.2);
}

/* PROJECTS */
#projects h1 {
  text-align: center;
  font-size: 50px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 80px;
  margin-left: 20px;
}

.projects-container img {
  border-radius: 20px;
  width: 400px;
  height: 300px;
  box-shadow: 2px 2px 5px 2px #716c6c;
}

.project {
  display: grid;
  grid-template-rows: 340px 32px 48px 20px;
  align-items: center;
  padding: 10px;
  /* justify-content: center; */
  align-content: center;

  border-radius: 20px;

  width: 420px;
  height: 450px;
  background-color: #d8d8d8;
  box-shadow: 2px 2px 5px 2px #309154;
  /*transition*/
  transition: transform 0.2s ease;
  /* padding: 5px; */
}

.project:hover {
  transform: translateY(-20px);
}
.project-description {
  color: #595656;
}
.font-semibold {
  font-weight: 600;
}

.languages-text {
  color: #595656;
}
/* 
 .dynamic-info {
  white-space: nowrap;
  overflow: hidden; 
  width: 0; 
  animation: slide 4s steps(10) infinite;
}

.dynamic-info li {
  list-style: none;
  position: relative;
  top: 0;
}

.dynamic-info li span::after {
  position: absolute;
  left: 0;
  content: "";
}

@keyframes slide {
  100% {
    top: -360;
  }
}
*/

/* @keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
} */
